* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 0 20%;
  padding: 20px;
}
.title {
  margin-bottom: 10px;
}
.label {
  display: block;
  padding: 10px 0;
}
.input {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.btn {
  border: none;
  display: inline-block;
  padding: 10px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.text {
  margin: 20px 0;
  border: 1px solid grey;
  padding: 10px 20px;
  color: grey;
}
